.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
android/.gradle/
android/local.properties
android/key.properties
android/java_pid*.hprof
android/app/*.jks
android/app/*.keystore
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
*.iml
.idea/
.vscode/
.DS_Store
